.profileCard {
  border: 4px solid black;
  border-radius: 8px;
  width: 700px;
  margin-bottom: 70px;
}

.profileImage {
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(49, 48, 48);
  margin-top: 30px;
  margin-bottom: 50px;
}

.name {
  color: black;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 15px;
}

.info {
  color: gray;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.profileList {
  display: flex;
  background-color: grey;
  border: 1px solid rgb(63, 63, 63);
}

.profileItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: calc(100% / 3);
  border: 1px solid rgb(63, 63, 63);
}

.statsName {
  color: black;
  font-size: 35px;
}

.statsInfo {
  color: black;
  font-size: 40px;
  font-weight: 700;
}